name: MLflow CI

on:
  push:
    branches: [ "main" ]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Check Env
        run: |
          python --version
          pip --version

      - name: Install dependencies
        run: |
          pip install mlflow dagshub pandas scikit-learn

      - name: Set MLflow Tracking URI
        run: |
          python --version
          pip --version
          ls -R

      - name: Run mlflow project
        run: |
          mlflow run . --env-manager=local -P data_path=data/processed/data_clean.csv

      - name: Upload to Google Drive
        uses: actions/upload-artifact@v4
        with:
          name: ml-model-artifacts
          path: mlruns/
